.projects-container {
  padding: 7rem 1rem 1rem 1rem;
}
.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}
.project-card-container {
  margin-bottom: 30px;
}
.project-card {
  background: transparent;
  border: 2px solid rgba(127, 126, 126, 0.352);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.project-card .card-img-top {
  padding: 0.5rem;
  height: 20%;
  border-radius: 1.2rem;
}
.project-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin-bottom: 10px;
}
.p-btn {
  background-color: transparent;
  color: white;
}
@media (max-width: 800px) {
  .project-card {
    margin-bottom: 20px;
  }
}
